@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Patient Booking Assistant</h1>
    <p class="lead">Manages your hospital booking according to the illness, level of pain and your selected hospital.</p>
    <p><a href="~/PatientAssistances/Create" class="btn btn-primary btn-lg">Book Now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum dolor</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec nulla turpis.
            Praesent egestas condimentum dolor a venenatis. Quisque felis dolor, cursus at mauris vitae, dapibus rutrum velit.
            Cras vestibulum arcu urna. Etiam velit sapien, facilisis id aliquam commodo, commodo at elit.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolor</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec nulla turpis.
            Praesent egestas condimentum dolor a venenatis. Quisque felis dolor, cursus at mauris vitae, dapibus rutrum velit.
            Cras vestibulum arcu urna. Etiam velit sapien, facilisis id aliquam commodo, commodo at elit.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolor</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec nulla turpis.
            Praesent egestas condimentum dolor a venenatis. Quisque felis dolor, cursus at mauris vitae, dapibus rutrum velit.
            Cras vestibulum arcu urna. Etiam velit sapien, facilisis id aliquam commodo, commodo at elit.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>